<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.msa2024.hello2.board.BoardFileMapper">
    <!--
    테이블 스크립트
    CREATE TABLE `tb_board` (
        `bno` INT(11) NOT NULL AUTO_INCREMENT,
        `btitle` VARCHAR(255) NOT NULL COLLATE 'utf8mb4_general_ci',
        `bcontent` TEXT NOT NULL COLLATE 'utf8mb4_general_ci',
        `member_id` VARCHAR(100) NOT NULL COLLATE 'utf8mb4_general_ci',
        `bdate` DATETIME NOT NULL DEFAULT current_timestamp(),
        `view_count` INT(11) NULL DEFAULT '0',
        PRIMARY KEY (`bno`) USING BTREE,
        INDEX `memberid` (`member_id`) USING BTREE
    )
    ENGINE=InnoDB
    ;


     -->
    <select id="getList" resultType="BoardFileVO">
        select
            *
        from tb_board_file
        where bno = #{bno}
        order by board_file_id
    </select>

    <select id="getBoardFile" resultType="BoardFileVO">
        select
            *
        from tb_board_file
        where board_file_id = #{board_file_id}
    </select>
    <select id="getBoardFileVO" resultType="BoardFileVO">
        select
            *
        from tb_board_file
        where bno = #{bno}
            limit 0, 1
    </select>

    <delete id="delete" >
        delete
        from tb_board_file
        where board_file_id = #{board_file_id}
    </delete>

    <insert id="insert" >
        insert into tb_board_file (
                                    bno
                                  ,original_filename
                                  ,real_filename
                                  ,content_type
                                  ,size
        ) values (
                   #{bno}
                 ,#{original_filename}
                 ,#{real_filename}
                 ,#{content_type}
                 ,#{size}
                 )
    </insert>
</mapper>
